body{
	padding: 0px;
	margin: 0px;
}

.container{
	max-width: 1500px;
	margin: 0 auto 0 auto;
	box-shadow: 0px 0px 10px -2px rgba(219,219,219,1);
}

.main{
	width: 100%;
	background-image: url("Assets/img-2.png"); 
	min-height: 1000px;
	position: relative;
}

.top{
	display: flex;
	justify-content: space-between;
}

.navigation{
	list-style-type: none;
	justify-content: row;
	margin-top: 40px;
	margin-right: 120px;
}

.navigation li a:link{
	color: black;
	text-decoration: none;
}

.navigation li a:visited{
	color: black;
	text-decoration: none;
}

.navigation li{
	padding: 15px;
	display: inline;
	font-size: 16px;
	letter-spacing: 0px;
	font-family: Raleway-Bold;
	cursor: pointer;
}

.navigation li:hover{
	border-top: 3px solid #FF6033;
	padding-top: 12px;
}

.name{
	width: 124px;
	height: 94px;
	margin-left: 165px;
	font-size: 50px;
	font-family: Pacifico-Regular;
}

.main-content{
	width: 370px;
	height: 200px;
	margin-left: 165px;
	margin-top: 180px;
}

.main-header{
	font-size: 60px;
	font-family: Raleway-Heavy;
	margin: 0;
}

.main-button{
	width: 200px;
	height: 55px;
	background-color: #FF6033;
	font-size: 20px;
	color: white;
	border: none;
	box-shadow: 0px 2px 5px #00000080;
	margin-top: 20px;
	font-family: Raleway-Light;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.main-button:hover{
	background-color: #EE5022;
	color: black;
	font-family: Raleway-Bold;
}

.main-paragraph{
	letter-spacing: 0px;
	line-height: 27px;
	font-family: Raleway-Light;
}

.scroll{
	position: absolute;
	left: 750px;
	bottom: 78px;
}

.about{
	width: 100%;
	background-color: #00B7B7;
	display: flex;
	justify-content: space-around;
}

.cup{
	margin-left: 100px;
}

.about-header{
	font-size: 90px;
	font-family: Raleway-Bold;
	color: white;
	margin-top: 150px;
	margin-right: 200px;
	margin-bottom: 0px;
}

.about-paragraph{
	font-size: 17px;
	width: 500px;
	font-family: Raleway-Light;
	color: white;
	opacity: 80%;
	line-height: 150%;
	margin-top: 15px;
	margin-bottom: 0px;
}

.services{
	background-color: #70BFFF;
	min-height: 790px;
	max-height: 790px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	position: relative;
}

.panel{
	width: 400px;
	height: 100px;
	margin: 10px 0 10px 265px;
	box-shadow: 0px 2px 5px #00000080;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.panel:hover{
	color: #FF8255;
	box-shadow: 0px 1px 0px 6px #FF8255;
}

.panel-text{
	font-size: 20px;
	font-family: Raleway-Bold;
	letter-spacing: 0px;
	padding-left: 70px;
}

.panel-text1{
	font-size: 20px;
	font-family: Raleway-Bold;
	letter-spacing: 0px;
	text-align: center;
}

.panel-img{
	padding: 28.5px;
	border-left: 1px solid black;
	width: 43px;
	height: 43px;
}

.our-services{
	height: 530px;
}

.tomatoes{
	position: absolute;
	right: 165px;
	top: 100px;
}

.tomato-header{
	font-size: 90px;
	font-family: Raleway-Bold;
	color: #fff;
	position: absolute;
	right: 160px;
	top: 190px;
}

.gallery{
	background-color: #FFE92F;
	display: grid;
	grid-template-columns: repeat(15, 100px);
	grid-template-rows: repeat(15, 100px);
}

.gallery-header{
	grid-row: 1 / 2;
	grid-column: 6 / 11;
	margin-top: 80px;
	font-size: 90px;
	font-family: Raleway-Bold;
	text-align: center;
}

.gallery-text{
	grid-row: 3 / 5;
	grid-column: 5 / 12;
	font-size: 17px;
	font-family: Raleway-Light;
	text-align: center;
	line-height: 25px;
	width: 630px;
	height: 90px;
	position: relative;
	left: 30px;
}

.gallery-content{
	position: relative;
	width: 1170px;
	min-height: 980px;
	margin-left: auto;
	margin-right: auto;
	grid-column: 2 / 15;
	grid-row: 4/15;
}

.gallery-img1{
	position: absolute;
	width: 770px;
	height: 550px;
	left: 0px;
	top: 30px;
	box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
	transition: transform 0.2s ease-in-out;
}

.gallery-img1:hover{
	transform: scale(105%);
}

.gallery-img2{
	position: absolute;
	width: 370px;
	height: 260px;
	right: 0px;
	top: 30px;
	box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
	transition: transform 0.2s ease-in-out;
}

.gallery-img2:hover{
	transform: scale(110%);
}

.gallery-img3{
	position: absolute;
	width: 370px;
	height: 260px;
	right: 0px;
	top: 320px;
	box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
	transition: transform 0.2s ease-in-out;
}

.gallery-img3:hover{
	transform: scale(110%);
}

.gallery-img4{
	position: absolute;
	width: 570px;
	height: 400px;
	left: 0px;
	top: 610px;
	box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
	transition: transform 0.2s ease-in-out;
}

.gallery-img4:hover{
	transform: scale(108%);
}

.gallery-img5{
	position: absolute;
	width: 570px;
	height: 400px;
	right: 0px;
	top: 610px;
	padding: 0px;
	box-shadow: 0px 5px 20px -10px rgba(0,0,0,1);
	transition: transform 0.2s ease-in-out;
}

.gallery-img5:hover{
	transform: scale(108%);
}

.view-more{
	position: absolute;
	width: 200px;
	height: 55px;
	background-color: #5585A2;
	box-shadow: 0px 2px 5px #00000080;
	left: 485px;
	bottom: -20px;
	border: none;
	color: #fff;
	font-family: Raleway-Light;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.view-more:hover{
	background-color: #3363A0;
}

.subscription{
	width: 1500px;
	height: 500px;
	background-image: url("Assets/bg.png");
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.sub-header{
	font-size: 40px;
	font-family: Raleway-Bold;
	margin: 0px 0px 0px 165px;
}

.sub-text{
	font-size: 17px;
	font-family: Raleway-Light;
	width: 570px;
	height: 70px;
	margin: 22px 0px 0px 165px;
}

.sub-form{
	width: 555px;
	height: 55px;
	opacity: 0.5;
	font-size: 15px;
	margin: 0px 0px 20px 165px;
	border: 1px solid #000;
	text-align: left;
	padding-left: 15px;
}

.sub-button{
	width: 170px;
	height: 55px;
	border: none;
	color: #fff;
	font-family: Raleway-Light;
	font-size: 20px;
	background-color: #96B92C;
	margin-left: 24px;
	text-align: center;
	padding: 10px;
	box-shadow: 0px 2px 5px #00000080;
	margin-bottom: 60px;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.sub-button:hover{
	background-color: #74970A;
}

.blog{
	background-color: #B07CF7;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	min-height: 850px;
	z-index: 1;
}

.blog-header{
	font-size: 90px;
	font-family: Raleway-Bold;
	width: 100%;
	text-align: center;
	margin: 80px 0px 0px 0px;
	color: #fff;
}

.blog-text{
	font-size: 17px;
	font-family: Raleway-Light;
	width: 570px;
	text-align: center;
	margin: 25px 0px 0px 0px;
	color: #fff;
	position: relative;
	bottom: 50px;
	opacity: 1;
}

.blog-img{
	width: 370px;
	height: 310px;
	margin-left: 5px;
	margin-right: 5px;
	position: relative;
	bottom: 50px;
}

.blog-button{
	width: 200px;
	height: 55px;
	background-color: #F72B3B;
	color: #fff;
	font-size: 20px;
	border: none;
	position: relative;
	font-family: Raleway-Light;
	bottom: 50px;
	box-shadow: 0px 2px 5px #00000080;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

.blog-button:hover{
	background-color: #D50919;
}

.blog-span{
	text-align: center;
	width: 1500px;
	height: 310px;
}

.contact{
	background-image: url("Assets/img.png");
	margin-top: -52px;
	width: 1500px;
	height: 866px;
	display: grid;
	grid-template-columns: repeat(15, 100px);
	grid-template-rows: repeat(11, 80px);
}

.contact-header{
	font-size: 90px;
	font-family: Raleway-Bold;
	margin: 80px 0px 0px 0px;
	grid-row: 1 / 3;
	grid-column: 7 / 11;
	position: relative;
	right: 20px;
	color: #262626;
}

.contact-text{
	font-size: 17px;
	font-family: Raleway-Light;
	color: #262626;
	text-align: center;
	width: 350px;
	margin: 0px;
	grid-row: 3 / 4;
	grid-column: 7 / 11;
	position: relative;
	right: 20px;
	top: 50px;
}

.contact-form{
	grid-row: 5 / 10;
	grid-column: 2 / 8;
	position: relative;
	left: 65px;
	bottom: 30px;
}

.form-header{
	width: 495px;
	height: 50px;
	background-color: #00C4C4;
	border: none;
	border-left: 5px solid #355B82;
	margin-bottom: 15px;
}

.form-title{
	color: #fff;
	font-size: 15px;
	font-family: Raleway-Bold;
	position: relative;
	top: 17px;
	bottom: 15px;
	left: 15px;
	opacity: 0.9;
}

.data1{
	width: 480px;
	height: 50px;
	background-color: #00C4C4;
	opacity: 0.5;
	border: none;
	color: #fff;
	margin-bottom: 15px;
	padding: 0px 0px 0px 20px;
}

.data{
	width: 480px;
	height: 50px;
	background-color: #00C4C4;
	opacity: 0.5;
	border: none;
	color: #fff;
	margin-bottom: 15px;
	padding: 0px 0px 0px 20px;
}

.message{
	width: 480px;
	height: 50px;
	background-color: #00C4C4;
	opacity: 0.5;
	border: none;
	color: #fff;
	margin-bottom: 15px;
	padding: 0px 0px 200px 20px;
}

.address{
	grid-row: 5 / 7;
	grid-column: 10 / 15;
	position: relative;
	right: 60px;
}

.address-header{
	font-size: 17px;
	font-family: Raleway-Bold;
	margin: 0px;
}

.address-text{
	font-size: 20px;
	font-family: Raleway-Light;
	margin: 0px;
}

footer{
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: #262626;
	height: 90px;
}

.footer-text{
	font-size: 15px;
	font-family: Raleway-Light;
	color: #B9B9B9;
}

.love{
	font-family: Raleway-Bold;
	font-size: 15px;
	color: #FF2B58;
}

footer .name{
	color: #B9B9B9;
	margin: 0px;
	font-size: 25px;
	width: 62px;
	height: 46px;
}

@font-face{
	font-family: "Raleway-Bold";
	src: url("fonts/raleway/Raleway-Bold.ttf");
}


@font-face{
	font-family: "Raleway-ExtraBold";
	src: url("fonts/raleway/Raleway-ExtraBold.ttf");
}

@font-face{
	font-family: "Raleway-Heavy";
	src: url("fonts/raleway/Raleway-Heavy.ttf");
}

@font-face{
	font-family: "Pacifico";
	src: url("fonts/pacifico/Pacifico.ttf");
}

@font-face{
	font-family: "Pacifico-Regular";
	src: url("fonts/Pacifico-Regular.ttf");
}

}@font-face{
	font-family: "Raleway-Thin";
	src: url("fonts/raleway/Raleway-Thin.ttf");	
}

@font-face{
	font-family: "Raleway-Light";
	src: url("fonts/raleway/Raleway-Light.ttf");
}